
@{
    ViewData["Title"] = "GoodWebsite";
}

<h2>Good Websites</h2>

<div class="alignLink">
    <a href="https://www.guitarcenter.com/">Guitar Center&#39;s Offical Website</a>
    <br />
    <br />
    <a href="https://dietzemusic.com/">Dietze Music&#39;s Offical Website</a>
    <br />
    <br />
    <a href="https://www.amazon.com/">Amazon&#39;s Offical Website</a>
</div>

